<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
    <div class="container-fluid">
        <a href="/dashboard" class="navbar-brand mr-3">Task Manager</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ml-auto">
                <a *ngIf="!currentUser" routerLink="/login" class="nav-item nav-link">Login</a>
                <span *ngIf="currentUser" class="nav-item nav-link">Welcome {{currentUser.firstName}}!</span>
                <a *ngIf="currentUser" routerLink="/login" class="nav-item nav-link">Logout</a>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <p-toast position="top-right"></p-toast>
    <registration (decideRedirection)="onDecideRedirection($event)"></registration> <br/>
    <task-create></task-create>
    
    <hr>
    <footer>
        <div class="row">
            <div class="col-md-6">
                <p>Copyright &copy; 2019 Towhidul Bashar</p>
            </div>
            <div class="col-md-6 text-md-right">
                <a href="#" class="text-dark">Terms of Use</a>
                <span class="text-muted mx-2">|</span>
                <a href="#" class="text-dark">Privacy Policy</a>
            </div>
        </div>
    </footer>
</div>